<!-- Header -->
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:;">Trang chủ</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <% var partUrl = url.split('/');%>
        <li class="nav-item <% if(partUrl[1] == 'setq') { %> active <% } %>">
          <a href="/setq" class="nav-link">Bộ câu hỏi</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons">person</i>
            <p class="d-lg-none d-md-block">
              Account
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
            <a class="dropdown-item" href="#">Thông tin người dùng</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logoutPage">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>